flask>=3.0
requests>=2.31
Pillow>=10.0
numpy==1.26.4
opencv-python-headless==4.11.0.86
huggingface_hub>=0.23
dwpose==1.0.1
matplotlib>=3.8
scipy>=1.11
scikit-image>=0.22
torch>=2.1
onnxruntime-silicon>=1.16.3; platform_system == "Darwin" and platform_machine == "arm64"
onnxruntime>=1.16.3; platform_system != "Darwin" or platform_machine != "arm64"
pywebview>=5.3
pyinstaller>=6.0
setuptools<81
send2trash>=1.8
